.lato-heavy p {
  font-family: 'Lato';
  font-weight: 'heavy';
  font-size: 30px;
}

.lato-light p {
  font-family: 'Lato';
  font-weight: 'regular';
  font-size: 16px;
}

.nunito-sans p {
  font-family: 'Nunito Sans';
  font-size: 16px;
}

.calistoga p {
  font-family: 'Calistoga';
  font-weight: 'heavy';
  font-size: 30px;
}

.Baloo-Bhaina p {
  font-family: 'Baloo-Bhaina';
  font-weight: 'heavy';
  font-size: 30px;
}

.Baloo-Da p {
  font-family: 'Baloo-Da';
  font-weight: 'heavy';
  font-size: 30px;
}

.Noto-Sans p {
  font-family: 'Noto-Sans';
  font-weight: 'heavy';
  font-size: 30px;
}

.Noto-Sans-reg p {
  font-family: 'Noto-Sans';
  font-weight: 'regular';
  font-size: 16px;
}

.Maven-Pro p {
  font-family: 'Maven-Pro';
  font-weight: 'heavy';
  font-size: 30px;
}

.Maven-Pro-reg p {
  font-family: 'Maven-Pro';
  font-weight: 'regular';
  font-size: 16px;
}

.Cairo p {
  font-family: 'Cairo';
  font-weight: 'heavy';
  font-size: 30px;
}

.PT-Sans-Caption p {
  font-family: 'PT-Sans-Caption';
  font-weight: 'regular';
  font-size: 30px;
}

.Work-Sans p {
  font-family: 'Work-Sans';
  font-weight: 'heavy';
  font-size: 30px;
}

.Muli p {
  font-family: 'Muli';
  font-weight: 'heavy';
  font-size: 30px;
}
