<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'tools.jpg' %>);">
  <div class="container">
    <h1>The tools you need with <strong>Toolshed</strong></h1>
    <!-- <p><span id="banner-typed-text"></span></p> -->
    <p><span class="col-8" id="banner-typed-text"></span></p>
    </div>
  </div>
