<!-- the results in grid format will need to be iteration/dynamically generated for the page
they will appear on eg. the results page. below is only a sample if static.
'index' will be cards view of all existing listings -->
<% category = ['Power Tools', 'Hand Tools', 'Automotive Tools', 'Plumbing Tools', 'Gardening Tools', 'Other Tools'] %>
<div class="cards">
<%  category.each do |category_name| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
  <p><%= link_to category_name, tools_path(category: category_name) %></p>
  </div>
<% end %>
</div>
