<div class="lato-heavy"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p>
</div>

<div class="lato-light"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>

<div class="nunito-sans"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>


<div class="calistoga"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>


<div class="Baloo-Bhaina"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>


<div class="Baloo-Da"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>


<div class="Noto-Sans"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>


<div class="Noto-Sans-reg"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>



<div class="Maven-Pro"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>


<div class="Maven-Pro-reg"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>



<div class="Cairo"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>

<div class="PT-Sans-Caption"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>


<div class="Work-Sans"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>


<div class="Muli"><p>This is some example text,
The quick brown fox jumped over the lazy dog. Toolshed has the best tools ever.
Meanwhile Penultimate owing political latin blah whatever!</p></div>
