<!-- the banner is now a partial under shared -->
<%= render 'shared/banner' %>
<% user_signed_in? ? (greeting = 'Welcome back, ' + current_user.first_name + '!') : (greeting = "")%>
<h2><%= greeting %></h2>
    <br>
    <div class="container">
    <!-- category cards 6 categories. -->

    <div class="line">
    <h2>BROWSE TOOLS</h2>
    </div>
    <%= render "shared/card_grid" %>
    </div>
    <br>
    <div class="line">
    <h2>POPULAR TOOLS</h2>
    </div>
<!-- make this show only first 20, or if we get time ajax continuous load as you scroll -->
    <%= render 'shared/tools' %>
