<!-- the banner is now a partial under shared -->

<%= render 'shared/banner' unless user_signed_in? %>
<% user_signed_in? ? (greeting = 'Welcome back, ' + current_user.first_name + '!') : (greeting = "")%>
<h2><%= greeting %></h2>
    <br>
    <div class="container">
    <!-- add category cards view grid, eg 6 categories. -->
    <h5>Browse Tools</h5>
    <%= render "shared/card_grid" %>
    <!-- add index cards view grid, eg first 20 of all listings avail. -->
    </div>

<h2>All Tool listings</h2>
<%= render 'shared/tools' %>
