<!-- the banner is now a partial under shared -->
<%= render 'shared/banner' %>
<% user_signed_in? ? (greeting = 'Welcome back, ' + current_user.first_name + '!') : (greeting = "")%>
<h2><%= greeting %></h2>
    <br>
    <div class="container">
    <!-- category cards 6 categories. -->
    <h5>Browse Tools</h5>
    <%= render "shared/card_grid" %>
    </div>

<h2>All Tool listings</h2>
<!-- make this show only first 20, or if we get time ajax continuous load as you scroll -->
<%= render 'shared/tools' %>
