<%= redirect_to root_path unless user_signed_in? %>
<h3>Welcome back, <%= current_user.first_name %>!</h3>
<h5>Browse Tools</h5>
<%= render "shared/card_grid" %>
<br>

<p> not sure if need other buttons and stuff here...</p>
