.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

a {
  color: white;
  text-decoration: none;
}

a img {
  border-radius: 0px;
}

.card-category:hover {
  text-decoration: none;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.booked-card {
  padding-bottom: 20px;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  text-align: center;
}

.booked-card p {
  padding: 16px 16px;
}
