.card-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-item > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-item p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-item .card-item-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-item-infos .card-item-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-item a {
  color: white;
  text-decoration: none;
}

.card-item a:hover {
  text-decoration: none;
  color: gray;
}
