
.my-tools {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.my-tools:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  border: 1px solid light-gray;
}

.my-tools img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.my-tools h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.my-tools p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.my-tools .my-tools-infos {
  padding: 10px 20px;
  margin: 0px;
}


.my-tools a {
  color: gray;
  text-decoration: none;
}

.my-tools a:hover {
  text-decoration: none;
  color: black;
}
