.user_profile {
  width: 700px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


