// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
 font-family: 'Montserrat';
}

h2 {
  text-align: center;
}

.line {
  max-width: 30%;
  border-bottom: solid 1px;
  border-bottom-color: gray;
  justify-content: center;
  margin: 16px auto;
}

.line-60 {
  max-width: 60%;
  border-bottom: solid 1px;
  border-bottom-color: gray;
  justify-content: center;
  margin: 8px auto;
}

#width {
  width: 100%;
}
